S3method(concat_file,default)
S3method(concat_file,webhdfs)
S3method(mkdir,default)
S3method(mkdir,webhdfs)
S3method(write_file,default)
S3method(write_file,webhdfs)
export(concat_file)
export(curl_webhdfs)
export(get_webhdfs_home)
export(mkdir)
export(webhdfs)
export(write_file)
importFrom(RCurl,basicHeaderGatherer)
importFrom(RCurl,curlOptions)
importFrom(RCurl,getURL)
importFrom(RCurl,httpGET)
importFrom(RCurl,httpPUT)
importFrom(jsonlite,fromJSON)
