S3method(mkdir,default)
S3method(mkdir,webhdfs)
S3method(writeFile,default)
S3method(writeFile,webhdfs)
export(curlWebHDFS)
export(mkdir)
export(webhdfs)
export(writeFile)
importFrom(RCurl,basicHeaderGatherer)
importFrom(RCurl,curlOptions)
importFrom(RCurl,httpGET)
importFrom(RCurl,httpPOST)
importFrom(RCurl,httpPUT)
importFrom(jsonlite,fromJSON)
